.LocationInput {
    position: relative;

    input{
        border-width: 0;
        box-shadow: 0 0 10px 1px rgba(0,0,0,.4);
        transition: all .5s ease;
        padding-left: 38px;

        &:focus,
        &:active
        {
            border-width: 0;
            box-shadow: 0 0 20px 2px rgba(0,0,0,.6)
        }
    }
    
    .Spinner{
        position: absolute;
        left: 10px;
        top: 5px;
        color: #555 !important;
        font-size: 22px;
        display: none;
        &.Loading{
            animation: mustache-animate .5s infinite;
            display: block;
        }
    }
    
    .LocationFinder{
        position: absolute;
        right: 10px;
        top: 5px;
        color: #555 !important;
        font-size: 22px;
        cursor: pointer;
    }
}

@keyframes mustache-animate {
    0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(20deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(-20deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
  }