.Today{
    text-align: center;

    :global(i.wi),
    .Temperature{
        font-size: 130px;
        vertical-align: text-top;
        line-height: 150px;

        @media(max-width:990px) and (min-width: 768px){
            font-size: 100px;
        }
    }

}
